@using ProjetoPicos2.Models
@model ProjetoPicos2.Models.Pico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                @foreach (var tipoPico in Enum.GetValues<TipoPico>())
                {
                    <div class="col-md-4 pt-2">
                        <input class="form-check-input" type="checkbox" value="@(tipoPico)" name="TipoPicoList">
                        <label class="form-check-label" for="flexCheckChecked"> @Html.DisplayFor(model => tipoPico) </label>
                    </div>
                }
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccsessType" class="control-label"></label>
                <select asp-for="AccsessType" class="form-control" asp-items="Html.GetEnumSelectList<Accessibility>()"></select>
                <span asp-validation-for="AccsessType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localization" class="control-label"></label>
                <input asp-for="Localization" class="form-control" />
                <span asp-validation-for="Localization" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
